<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/contact.css" />
  </head>
  <body>
    <!-- ===== BOX ICONS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--===== CONTACT ME =====-->
    <section class="contact section bd-container" id="contact">
      <span class="section-subtitle"></span>
      <h2 class="section-title">Contact Us</h2>

      <div class="contact__container bd-grid">
        <div class="contact__content bd-grid">
          <!--  <div class="contact__box">
            <i class="bx bx-home contact__icon"></i>
            <h3 class="contact__title">Location</h3>
            <span class="contact__description">#123 Lima - Peru</span>
          </div>

          <div class="contact__box">
            <i class="bx bx-phone contact__icon"></i>
            <h3 class="contact__title">Phone</h3>
            <span class="contact__description">999-888-777</span>
          </div>

          <div class="contact__box">
            <i class="bx bx-envelope contact__icon"></i>
            <h3 class="contact__title">Gmail</h3>
            <span class="contact__description">clayuser@email.com</span>
          </div> -->

          <div class="contact__box">
            <i class='bx bx-user-pin contact__icon'></i>
            <h3 class="contact__title">Yash Vijay Chaudhari</h3>
            <div>
              <a href="https://www.linkedin.com/in/yash-chaudhari-a100451ab/" target="_blank"
               class="contact__social"
                ><i class='bx bxl-linkedin-square'></i></a>
              <a href="https://github.com/chaudharijay" target="_blank"class="contact__social"
                ><i class='bx bxl-github'></i></a>
            </div>
          </div>
          <div class="contact__box">
            <i class='bx bx-user-pin contact__icon'></i>
            <h3 class="contact__title">Prasad Deelip Kothawde</h3>
            <div>
              <a href="https://in.linkedin.com/in/prasad-kothawade-437769227" target="_blank" class="contact__social"
                ><i class='bx bxl-linkedin-square'></i></a>
              <a href="https://github.com/prasaddk056" target="_blank"class="contact__social"
                ><i class='bx bxl-github'></i></a>
            </div>
          </div>

          <div class="contact__box">
            <i class='bx bx-user-pin contact__icon'></i>
            <h3 class="contact__title">Hemanshu Nitin Kulkarni</h3>
            <div>
             
              <a href="https://www.linkedin.com/in/hemanshu-kulkarni-b9805723b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"class="contact__social"
                ><i class='bx bxl-linkedin-square'></i></a>
              <a href="https://github.com/hemanshu11" target="_blank"class="contact__social"
                ><i class='bx bxl-github'></i></a>
            </div>
          </div>
          <div class="contact__box">
            <i class='bx bx-user-pin contact__icon'></i>
            <h3 class="contact__title">Dipak Bharat Deore</h3>
            <div>
              
              <a href="https://www.linkedin.com/in/nikhil-deore-563665278/"target="_blank" class="contact__social"
                ><i class='bx bxl-linkedin-square'></i></a>
              <a href="https://github.com/Dipakd2511" target="_blank"class="contact__social"
                ><i class='bx bxl-github'></i></a>
            </div>
          </div>
        </div>

        <form
        action="https://api.web3forms.com/submit" method="POST"
          class="contact__form">
          <div class="contact__inputs">
            <input type="hidden" name="access_key" value="26590b26-636a-4fc9-9c8b-106f634b73fd">
            <input type="text" name="Name" placeholder="name" class="contact__input" />
            <input type="email" name="email" placeholder="Email" class="contact__input" id="email-input" />

          <textarea
            name=""
            id="text-msg"
            cols="0"
            rows="7"
            placeholder="Message"
           
          ></textarea>

          </div>
          <div class="submit-btn">
            <input
            type="submit"
            value="Send Message"
            class="button contact__button"
          />
          </div>
         
        </div>
        </form>
      </div>
    </section>
  </body>
</html>
